body {
    background-color: #fff;
    font: normal 16px "Karla", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    max-width: 600px;
    width: 70%;
    margin-left: 15%;
    margin-top: 100px;
}
a {
    text-decoration: none;
    font-weight: bold;
    color: #dab;
}
a:hover {
    text-decoration: underline;
}
header {
    align-content: space-between;
    padding-bottom: 20px;
    position: relative;
    border-bottom: 1px solid #ddd;
}
footer {
    border-top: 1px solid #ddd;
    color: #aaa;
}
#name {
    margin-left: -1px;
    font: 30px "Lora", Georgia, serif;
}
#links {
    display: flex;
    flex-flow: row wrap;
}
#links a {
    margin-right: 10px;
}
#printable {
    position: absolute;
    top: 5px;
    right: 0;
    color: white;
    background-color: #dab;
    border-radius: 2px;
    padding: 4px 7px;
}
section {
    margin: 10px 0;
}
h1 {
    font: normal 24px "Lora", Georgia, serif;
    line-height: normal;
}
h2 {
    font: bold 20px "Karla", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h3 {
    font: normal 16px "Karla", "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
}
